/* nav.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;

}

.navbar-brand img {
  margin-right: 20px;
  margin-left: 20px;
}

.navbar-nav .nav-link {
  margin-right: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.btn-create {
  background-color: #4CAF50;
  color: white;
}

.btn-logout {
  background-color: #f44336;
  color: white;
}

.btn-search {
  background-color: #2196F3;
  color: white;
}
