body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    max-width: 550px;
    width: 100%;
    margin: 30px;
    box-sizing: border-box;
}

.form-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-header h2 {
    color: #333;
    margin: 0;
    font-size: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #495057;
    font-weight: bold;
    font-size: 0.875rem;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 10px;
    font-size: 0.875rem;
    color: #495057;
    box-sizing: border-box;
    background-color: #fdfdfe;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #35dc6f;
    border: 1px solid #35dc6f;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    border-radius: 10px;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
    margin-top: 1rem;
}

.btn-primary:hover {
    background-color: #35dc6f;
    border-color: #35dc6f;
}

.form-error {
    color: #35dc6f;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.875rem;
}
